# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build directories
build/
dist/

# React
.DS_Store
.cache/
.parcel-cache/
.vscode/

# Express (if applicable)
logs/
*.log

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
jspm_packages/

backend/.env
backend/node_modules/
frontend/.env
frontend/node_modules/